{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "test": true,
    "expect": true,
    "should": true,
    "assert": true,
    "beforeEach": true,
    "afterEach": true,
    "beforeAll": true,
    "afterAll": true,
    "before": true,
    "after": true
  },
  "rules": {
    "arrow-parens": [
      "error",
      "always"
    ],
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-param-reassign": 1,
    "padded-blocks": 0,
    "no-plusplus": 0,
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "no-bitwise": 0,
    "max-len": ["error", { "code": 120 }],
    "implicit-arrow-linebreak": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/sort-comp": 0
  }
}
